@import "tailwindcss";

body {
  background: #000;
  color: #fff;
  font-family: Inter, system-ui;
}

html {
  scroll-behavior: smooth;
}

/* hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
